@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(.5);

  &__list {
    list-style: none;
    max-width: $layout-post-width;
    margin: 0;
    padding: 0 15px;

    &-item {
      display: inline-block;

      &-link {
        display: inline-block;
        // height: $button-height;
        text-decoration: none;
        color: $color-base;

        &:hover,
        &:focus {
          color: $color-primary;
        }

      }

    }

  }

}