@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.postinfo {
  align-items: flex-start;
  justify-content: space-between;
  display: flex;
  @include margin-bottom(1);
  @include margin-top(2);
  // max-width: $layout-post-width;
  margin-left: 1rem;
  margin-right: 1rem;
  color: darkgray;


  &__date {
    font-style: italic;
  }
}
